/* html */

:root{
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    color: #ffff;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

main{
    margin-top: 3.5rem;
}

body::-webkit-scrollbar-track {
    background: #202731;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: #F92C85;
    border-radius: 20px;
}

/* navbar */

header{
    border-bottom: 2px solid #F92C85;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #202731;
    padding: 0.2rem;
    width: 99.5%;
    margin:0px;
    position:fixed;
    top:0px;    
    z-index: 1000;
}

.navbar-nav {
    list-style-type: none; 
    padding: 0;             
    margin: 0 60px 0 5px;              
    display: flex;
    align-items: center;   
    justify-content: right;     
}

.nav-item:first-child {
    margin-right: auto;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.nav-item{
    position: relative;
    padding: 0.3rem;
    border-radius: 50px;
    border:3px solid #202731;
    margin: 0.5rem;
    transition: all 0.3s;
}

.nav-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #5EBEC4;
    transition: all 0.3s;
}

.link-hover{
    color: #FDF5DF;
}

.item-hover{
    background-color: #F92C85;
    border:3px solid #F92C85;
    box-shadow:    10px 10px #5EBEC4;
}

/* footer */

.icon-link{
    text-decoration: none;
}

.footer-link{
    text-decoration: none;
    color: #5EBEC4;
    padding: 0.5rem;
    transition: all 0.3s;
}

.footer-hover{
    color: #F92C85;
}

footer{
    border-top: 2px solid #F92C85;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #202731;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-link{
    margin: 0.5rem;
    padding: 0.3rem;
}

.hop {
    animation: hop 0.5s;
  }

  @keyframes hop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .fg-primary{
    fill: #5EBEC4;
    transition: all 0.2s;
    stroke: #F92C85;
    stroke-width: 7px;
  }

/* pages */

  .page{
    min-height: 100vh;
    position: relative;
    scroll-margin-top: 4rem; 
    padding: 5rem;
    padding-top: 7rem;
    align-items: center;
    justify-items: center;
  }

#first{
    background-color: #fff;
    color:black;
    
}

#second{
    background: linear-gradient(90deg, #ff0095, #ff9400);
    background-size: 200% 200%;
    animation: gradient-animation 5s ease infinite;

}

#third{
    background-color: #010000;

}

#fourth{
    background: linear-gradient(90deg, #2c00ff, #7000ff);
    background-size: 200% 200%;
    animation: gradient-animation 5s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 76px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}

.wave2{
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg{
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 25rem;
}

.blob-motion {
    position: relative;
    transform: translateY(-40%);
    z-index: 0;
  }

.blob-content {
    position: relative;
    transform: translateY(100%);
    z-index: 1;
}

/* blog */

.cards-container{
    display:flex;
    position: relative;
    overflow-x:scroll;
    width: 70%;
    padding: 3rem;
    margin-left: 10%;
}

.cards-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.cards-container::-webkit-scrollbar-thumb {
    background: #ff0095;
    border-radius: 20px;
}

.cards-container::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.cards{
    position:relative;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;
    min-width:200px;
    background-color:#17141d;
    border-radius: 20px;
    padding:1.5rem;
    box-shadow:-1rem 0 3rem #000;
    transition: all 300ms ease;
}

.cards:not(:first-child){
    margin-left: -130px;
}

.cards-after{
    box-shadow:1rem 0 3rem #000;
    transform: translateX(130px);
}

.cards-hover{
    transform:translateY(-1rem);
    border:2px solid #ff0095;
}

/* projects */

.project-container{
    display: flex;
    position: relative;
    overflow-x: scroll; 
    width: 40%;
    padding: 3rem;
    margin-left: 25%;
    transition: width 300ms ease;
    transition: margin-left 300ms ease;
}

.project-container-click{
    width:60%;
    margin-left: 15%;
}

.project{
    position: relative;
    margin: 1rem;
    display: flex;
    height: 250px;
    width:50px;
    min-width: 50px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #000;
    transition: min-width 300ms ease;
}


.project-click{
    min-width:350px; 
}

.project-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.project-container::-webkit-scrollbar-thumb {
    background: #ff0095;
    border-radius: 20px;
}

.project-container::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}



