:root{
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    color: #ffff;
    scroll-behavior: smooth;
}

body{
    background-color: #202731;
    margin: 0px;
    padding: 0px;
}

h1{
    /* font-family: "Playwrite HU"; */
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 2px solid #F92C85;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #202731;
    padding: 0.2rem;
    width: 100%;
    margin:0px;
    position:fixed;
    top:0px;    
    z-index: 1000;
}

.navbar-nav {
    /* font-family: "Playwrite HU";     */
    list-style-type: none; 
    padding: 0;             
    margin: 0 60px 0 5px;              
    display: flex;
    align-items: center;   
    justify-content: right;     
    /* background-color: #FDF5DF; */
}

.nav-item:first-child {
    margin-right: auto;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.nav-item{
    position: relative;
    padding: 0.3rem;
    border-radius: 50px;
    border:3px solid #202731;
    margin: 0.5rem;
    transition: all 0.3s;
}

.nav-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #5EBEC4;
    transition: all 0.3s;
}

.link-hover{
    color: #FDF5DF;
}

.item-hover{
    background-color: #F92C85;
    border:3px solid #F92C85;
    box-shadow:    10px 10px #5EBEC4;
}

main{
    margin-top: 3.5rem;
    /* padding: 3rem; */
}

body::-webkit-scrollbar-track {
    background: #202731;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: #F92C85;
    border-radius: 20px;
}

.icon-link{
    text-decoration: none;
}

.footer-link{
    text-decoration: none;
    color: #5EBEC4;
    padding: 0.5rem;
    transition: all 0.3s;
}

.footer-hover{
    color: #F92C85;
}

footer{
    border-top: 2px solid #F92C85;
    border-radius: 20px;
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #202731;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-link{
    margin: 0.5rem;
    padding: 0.3rem;
}

.hop {
    animation: hop 0.5s;
  }

  @keyframes hop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .fg-primary{
    fill: #5EBEC4;
    transition: all 0.2s;
    stroke: #F92C85;
    stroke-width: 7px;
    /* filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 0.2)); */
  }

  .page{
    min-height: 100vh;
    /* border-bottom: 2px solid #F92C85; */
    scroll-margin-top: 4rem; 
    padding: 5rem;
    /* opacity: 0;
    transition: opacity 1s ease-out, transform 0.5s ease-out; */
  }
  
  .page.fade-in {
    opacity: 1;
}

#title{
    background-color: #3c31dd;
    padding-top: 0%;
    
}

#about{
    background-color: #202731;

}

#blog{
    background-color: #dd3f31;

}

#projects{
    background-color: #0f0f10;

}













